{% extends 'base.html' %}

{% load static %}

{% block title %} 資産管理用Webアプリ {% endblock %}

{% block header %}
{% endblock %}

{% block contents %}

<div class="d-flex h-100 text-center text-white bg-dark">
  <main class="d-flex align-items-center flex-column justify-content-center w-100">
      <h1>Asset management for myself</h1>
  </main>
</div>


{% endblock %}
<!-- <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
      